#baseurl: '/'
permalink: pretty
title: 'Gutz Analytics'

logo:
  mobile: "images/logo/logo.svg"
  mobile_height: "32px"
  mobile_width: "32px"
  desktop: "images/logo/logo.svg"
  desktop_height: "60px"
  desktop_width: "150px"

#url: http://www.gutzanalytics.com/

jekyll-mentions:
  base_url: https://github.com

home: 
  limit_services: 6

collections:
  services:
    output: true
    sort_by: weight

defaults:
  - scope:
      path: ""
      type: "services"
    values:
      layout: "service"

sass:
  style: compressed # possible values: nested expanded compact compressed
  quiet_deps: true  # Suppress deprecation warnings from dependencies (Bootstrap)

plugins:
  - jekyll-environment-variables

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - LICENSE.md
  - LICENSE
  - README.md
